.game {
    height: calc(100vh - 375px);
    text-align: center;

    .play {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .playing {
        height: 100%;
    }

    .correct {
        color: gold;
        margin-top: 20px;
    }

    .replay {
        img {
            width: 50px;
        }
    }
}