.game {
  height: calc(100vh - 375px);
  text-align: center; }
  .game .play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .game .playing {
    height: 100%; }
  .game .correct {
    color: gold;
    margin-top: 20px; }
  .game .replay img {
    width: 50px; }
